@page "/"
@rendermode InteractiveServer

<div class="app-shell">
    <div class="header">
        <h2>Daily Side-Quests</h2>
    </div>
    @if (_levelInfo is not null)
    {
        <LevelDisplay LevelInfo="_levelInfo" ShowAnimation="_showLevelUpAnimation" />
        <XpBar LevelInfo="_levelInfo" Animate="_animateXpBar" />
    }
    @if (_quests is null)
    {
        <div class="card">Loading...</div>
    }
    else if (!_quests.Any())
    {
        <div class="card">No quests for today.</div>
    }
    else
    {
        @foreach (var quest in _quests)
        {
            <QuestCard Quest="quest" OnToggled="OnToggled"></QuestCard>
        }
    }
</div>
<XpNotification XpEvent="_lastXpEvent" IsVisible="_showXpNotification" OnDismiss="DismissNotification" />